ul,
ol {
	margin: 0 0 1em 0;
	padding-left: 1.5em;
	list-style-position: inside; /* Default, but aligns nicely */
	font: bolder;
}
.about-container::-webkit-scrollbar {
	width: none;
  background: transparent;
}

.about-container::-webkit-scrollbar-thumb {
	background-color: transparent;
}

.about-container::-webkit-scrollbar-track {
	background: transparent;
}
.about-container {
	width: 31vw; /* Increased width */
	max-height: 70vh; /* Limit height to allow scroll */
	overflow-y: auto; /* Enable vertical scroll */
	background-color: white;
	padding: 40px 30px;
	border-radius: 12px;
	color: black;
	scrollbar-width: thin;
	scrollbar-color: #ccc transparent;
}

/* Modal Content */
.modal-content {
	background: white;
	padding: 20px;
	border-radius: 8px;
	width: 800px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Close Button */
.modal-close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	cursor: pointer;
	color: #555;
}

.modal-close-button:hover {
	color: red;
}

.logo-container {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.logo {
	width: 40px;
	height: 40px;
}
